### Gralde ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/*
!.idea/icon.png
http-client.private.env.json

### Kotlin ###
.kotlin/

### Mac OS ###
.DS_Store

### Arcade ###
# Server persistent file root.
/.blobs/
# Application persistent file root.
.arcade/
